@tailwind base;
@tailwind components;
@tailwind utilities;
/* globals.css or tailwind.css */
:root {
  --background-light: 245, 245, 245;
  --border-light: 212, 212, 212;
  --card-light: 255, 255, 255;
  --copy-primary-light: 33, 33, 33;
  --copy-secondary-light: 85, 85, 85;
  --cta-light: 139, 92, 246;
  --cta-active-light: 124, 58, 237;
  --cta-text-light: 255, 255, 255;

  --background-dark: 0, 0, 0;
  --border-dark: 38, 38, 38;
  --card-dark: 23, 23, 23;
  --copy-primary-dark: 230, 230, 230;
  --copy-secondary-dark: 115, 115, 115;
  --cta-dark: 99, 102, 241;
  --cta-active-dark: 79, 70, 229;
  --cta-text-dark: 255, 255, 255;
}

/* Light theme */
[data-theme="light"] {
  --background: var(--background-light);
  --border: var(--border-light);
  --card: var(--card-light);
  --copy-primary: var(--copy-primary-light);
  --copy-secondary: var(--copy-secondary-light);
  --cta: var(--cta-light);
  --cta-active: var(--cta-active-light);
  --cta-text: var(--cta-text-light);
}

/* Dark theme */
[data-theme="dark"] {
  --background: var(--background-dark);
  --border: var(--border-dark);
  --card: var(--card-dark);
  --copy-primary: var(--copy-primary-dark);
  --copy-secondary: var(--copy-secondary-dark);
  --cta: var(--cta-dark);
  --cta-active: var(--cta-active-dark);
  --cta-text: var(--cta-text-dark);
}

#item:last-child {
  border: none;
}
